/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
}

:root {
  --primary-color: #00539cff;
  --secondary-color: #8aaae5;
  --primary-font: "Poppins", sans-serif;
  --text-color: #1f1f1f;
}

/* Scrollbar Color Change */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* NavBar section */
.navbar-section {
  background-color: #ffffff;
}
.navbar-brand img {
  height: 40px;
}
.nav-link {
  font-weight: bold;
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 20px;
  color: var(--primary-color) !important;
}
.nav-link:hover {
  color: var(--secondary-color) !important;
}
.fa-bars {
  color: var(--primary-color);
}

/* Home section */
.home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Images/Home-Image.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-section h1 {
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  color: #ffffff;
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.home-section p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.home-section .btn {
  background-color: var(--primary-color);
  color: #ffffff;
  font-family: var(--primary-font);
  text-transform: uppercase;
  padding: 5px 15px;
}
.home-section .btn:hover {
  background-color: var(--secondary-color);
}

/* About Us section */
.aboutus-section {
  padding-top: 80px;
}
.aboutus-section h3 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--primary-font);
  padding-bottom: 30px;
}
.aboutus-section p {
  margin: 0;
  font-size: 15px;
  text-align: center;
  color: var(--text-color);
}